.container {
    padding: 20px;
    background: linear-gradient(to top, #bac7c0, #cbcec5, #dad5cf);
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 11px; /* Ajusta el espacio entre las tarjetas */
}

.container h1 {
    color: #0e2038;
    font-size: 36px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column; /* Cambia las tarjetas a columna en pantallas pequeñas */
        align-items: center; /* Centra las tarjetas en columna */
    }
}