.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.651);
}

.card img {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.card-content {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.card h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  color: #000000;
  margin: 0;
}

.card p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
  margin: 0;
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  gap: 8px;
  background: #000000;
  box-shadow: 0px 1px 2px rgba(236, 6, 6, 0.05);
  border-radius: 8px;
  top: 6px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 auto;
  text-decoration: none;
}
.cardreverse {
  flex-direction: row-reverse;
}
.LinkContainer {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(2, 2, 2, 0.418) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.507) 50%,
    rgba(0, 0, 0, 0.315) 75%,
    transparent 75%,
    transparent
  );
  background-size: 30px 30px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.btn:hover {
  color: rgb(0, 0, 0);
  background-color: #fdfafa;
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.btn:hover::before {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn:hover::after {
  opacity: 1;
}

.btn:active {
  background-color: #fffbfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}

@media (max-width: 1024px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .card-reverse {
    flex-direction: column;
  }
}

@media (max-width: 480px) and (min-width: 376px) {
  .card {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 2px;
  }

  .card h1 {
    font-size: 24px;
  }

  .card img {
    width: 100%;
  }

  .card p {
    font-size: 18px;
  }

  .card button {
    padding: 8px 16px;
  }

  .card-content {
    margin-bottom: 20px; /* Added margin to the bottom of card content */
  }
}
@media (max-width: 475px) and (min-width: 321px) {
  .container {
    width: 100%;
  }
  .card {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 2px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card img {
    width: 100%;
  }

  .card p {
    font-size: 15px;
  }

  .card button {
    padding: 3px 10px;
  }
  .btn {
    font-size: 12px;
  }
  .card-content {
    margin-bottom: 20px; /* Added margin to the bottom of card content */
  }
}
@media (max-width: 320px) and (min-width: 280px) {
  .card {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 2px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card img {
    width: 100%;
  }

  .card p {
    font-size: 12px;
  }

  .card button {
    padding: 3px 10px;
  }
  .btn {
    font-size: 12px;
  }
  .card-content {
    margin-bottom: 20px; /* Added margin to the bottom of card content */
  }
}
