.container {
  padding: 100px;
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centramos el contenido */
  gap: 24px;
  width: 100%;
  max-width: 1200px;
}

.hero h1 {
  color: black;
  font-size: 64px;
  line-height: 77px;
}

.hero h2 {
  color: rgb(20, 19, 19);
  font-size: 24px;
  line-height: 36px;
}

.hero img {
  width: 100%;
  height: auto;
  max-width: 541px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.hero p {
  color: #292626;
  font-size: 20px;
  line-height: 150%;
  max-width: 100%;
  word-wrap: break-word;
}

.hero a {
  text-decoration: none; /* Quitamos el subrayado del enlace */
}

.hero button {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #0000004b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #787575af;
  color: #292626;
}

.hero button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.hero button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.hero button:hover {
  box-shadow: 9px 9px 33px #3e3d3d, -9px -9px 33px #9a9696;
  transform: translateY(-2px);
}

/* Media queries */

@media (max-width: 1024px) {
  .container {
    padding: 60px 10px;
  }

  .hero {
    max-width: 80%;
  }
}

@media (max-width: 320px) {
  .container {
    padding: 10px;
  }

  .hero h1 {
    font-size: 33px;
    line-height: 77px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 10px;
  }

  .hero h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 60px;
  }

  .hero {
    top: 60px;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 80px 10px;
  }

  .hero {
    top: 60px;
  }
}
